.reportes-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 1000px;
}

.reportes-section h3 {
  margin-top: 20px;
}

.reportes-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.reportes-section th,
.reportes-section td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.reportes-section th {
  background-color: #f4f4f4;
}

.reportes-section tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.reporte-financiero p {
  margin: 5px 0;
}

.reportes-section p {
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 10px;
}
